// ----------Colores----------//
$white: #ffffff;
$grey: #5d737e;
$dark-green: #64b6ac;
$light-green: #c0fdfb;
$light-green-one: #daffef;
$light-green: #fcfffd;
//-------- tablet view ----------//
////----------- 768 --------//
@media (max-width: 768px) {
    header {
    position: relative;
    width: 100%;
    background: url(../img/main.png);
    background-repeat: no-repeat;
    filter: grayscale(10%) contrast(1);
    background-size: cover;
    color: #fff;
    text-align: center;


    .header-content-inner {
        margin-bottom: 90px;
    }

    .header-content {
        margin-top: 100px;
        font-family: Brandon;

        h1 {
            letter-spacing: 6px !important;
            line-height: 100%;
            font-family: Brandon;
            font-size: 38px;
        }

        p {
            font-size: 16px;
            margin-bottom: 30px;
            color: $light-green;
        }

        a {
            text-decoration: none;
            color: #6B5EFF;
            font-weight: 700;
            font-family: Brandon;
        }
    }

    nav {
        padding: 10px;

        .menu {
            font-weight: 550;
            float: left;
            margin-left: -40px;
            margin-top: 50px;

            a {
                text-decoration: none;
                margin-left: 2rem;
            }

            a:hover {
                color: #d8ff00;
            }

            img {
                margin-bottom: 7px;
            }
        }

        a {
            font-family: Brandon;
            color: $white;
            text-decoration: none;
            font-size: 20px;
        }
    }
}

// ---------- Section Connect ----------//
#connect {
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    margin: 0 auto;
    word-wrap: break-word;
    position: relative;
    background: #fff;
    filter: grayscale(10%) contrast(1);
    background-size: cover;
    padding: 20px;

    .img_1{
        margin-top: 40px;
    }

    .con_phone {
        padding: 1px;
        text-align: center;
        h1 {
            font-size: 28px;
            font-weight: 700;
            color: #6B5EFF;
        }

        h4 {
            color: #6B5EFF;
            font-size: 16px;
        }

        p {
            color: $grey;
            font-weight: 700;
            font-size: 14px;
        }
    }
}

// ---------- Section Works ----------//
#works {
    width: 100%;
    overflow-y: hidden;
    margin: 0 auto;
    background: url(../img/bg_section_two.png);
    filter: grayscale(10%) contrast(1);
    padding: 20px;
    padding-bottom: 40px;
    .see_how{
        text-align: center;
        margin-left: 20px;
    }

    h4{
            font-size: 14px !important;
        }
        p{
            font-size: 14px !important;
        }

    .work_head {
        text-align: center;
        padding: 50px;

        h1 {
            color: #6B5EFF;
            font-weight: 700;
            font-size: 28px;
        }

        p {
            font-weight: 700;
            font-size: 13px;
        }

    }
}

// ---------- Section Play ----------//
#play {
    width: 100%;
    margin: 0 auto;
    background: url(../img/play.png);
    filter: grayscale(10%) contrast(1);
    text-align: center;

    .contain {
        padding: 70px;

        h1 {
            color: $white;
            font-weight: 700;
            font-size: 23px;
        }

        p {
            color: $white;
           
            padding: 15px;
            font-size: medium;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            color: #6B5EFF;
        }
    }
}

// ---------- Section Stories ----------//
#stories {
    width: 100%;
    margin: 0 auto;
    filter: grayscale(10%) contrast(1);
    background-color: #fbfaff;
    padding: 73px;

    .contents {
        margin-left: 25px;
    }

    .content {
        margin-top: 50px;
    }

    .button {
        background-color: #6B5EFF;
        color: $white;
    }

    .fa {
        color: #757474;
        margin: 16px;
    }

    .left {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
    }

    .right {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
    }

    .carousel-control {
        color: #fff;
        border-radius: 30px;
        box-shadow: 5px 5px 5px #b5a9a9;
        position: absolute;
        margin: 150px -80px;
        width: 50px;
        height: 50px;
        opacity: .9;
    }

    .item {
        padding: 20px;

        h1 {
            color: #6B5EFF;
            font-weight: 800;
            font-size: 35px;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
        }

        p {
            font-weight: 700;
            font-size: 18px;
            color: $grey;
        }

        blockquote {
            border-left: 0px;

            small {
                font-weight: 900;
                font-size: 25px;
                color: #6B5EFF;
            }
        }
    }
}

// ---------- Section get_started ----------//
#get_started {
    background-image: url(../img/bg_section_two.png);
    background-repeat: repeat;
    

    .room {
        text-align: center;
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 35px;
            color: #6B5EFF;
        }

        p {
            text-align: center;
            margin: 50px 50px 50px 0px;
            font-weight: 700;
            font-size: 15px;
            color: $grey;
        }
    }
    .button{
        margin-left: 104px;
    }
    // .button-pos{
    //     margin-left: 70px;
    //     margin-top: 5px;
    // }
    // button {
    //     text-align: center;
    //     margin: 15px;
    //     background-color: #000;

    //     a {
    //         margin: 20px;
    //         color: #fff;
    //         text-decoration: none;
    //         font-weight: 700;
    //     }
    // }

    // button:hover {
    //     background-color: #6B5EFF;
    // }
}

// ---------- Section logos ----------//
#logo_s {
    background-color: #fbfaff;
}

// ---------- Section Footer ----------//
#footer {
    width: 100%;
    margin: 0 auto;
    background: url(../img/play.png);
    filter: grayscale(10%) contrast(1);
    padding: 16px;

    .w3-container {
        .col1{
            float: left;
            margin-left: 50px;
        }
        .col2{
            margin-left: 406px;
            margin-top: 109px;
        }
        img {
            width: 76px;
            height: 40px;
        }

        .logos_1 {
            .fa {
                color: white !important;
                margin-left: 15px;
                font-size: 25px;
            }

            .fa:hover {
                color: #b9c3c7 !important;
            }
        }

        .head_top {
            color: white !important;
            font-weight: 700;
            font-size: 18px;
        }

        li {
            list-style-type: none;
            margin-top: 15px;
        }

        a {
            color: #b9c3c7;
            text-decoration: none;
            font-weight: 700;
        }

        a:hover {
            color: white;
        }
    }
}

}
//-------- mobile view ----------//
////----------- 480 --------//
@media (min-width: 480px) {
    header {
    position: relative;
    width: 100%;
    background: url(../img/main.png);
    background-repeat: no-repeat;
    filter: grayscale(10%) contrast(1);
    background-size: cover;
    color: #fff;


    .header-content {
        margin-top: 100px;
        font-family: Brandon;

        h1 {
            
            letter-spacing: 6px !important;
            line-height: 100%;
            font-family: Brandon;
            font-size: 38px;
        }

        p {
            
            font-size: 16px;
            margin-bottom: 30px;
            color: $light-green;
        }

        a {
            text-align: center;
            text-decoration: none;
            color: #6B5EFF;
            font-weight: 700;
            font-family: Brandon;
        }
    }

    nav {
        padding: 10px;

        .menu {
            font-weight: 550;
            float: left;
            margin-left: -40px;
            margin-top: 50px;

            a {
                text-decoration: none;
                margin-left: 2rem;
            }

            a:hover {
                color: #d8ff00;
            }

            img {
                margin-bottom: 7px;
            }
        }

        a {
            font-family: Brandon;
            color: $white;
            text-decoration: none;
            font-size: 20px;
        }
    }
}

// ---------- Section Connect ----------//
#connect {
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    margin: 0 auto;
    word-wrap: break-word;
    position: relative;
    background: #fff;
    filter: grayscale(10%) contrast(1);
    background-size: cover;
    padding: 20px;

    .img_1{
        margin-top: 40px;
    }

    .con_phone {
        padding: 1px;
        .con_1{
            
        }
        .col_2{
            
        }

        h1 {
            
            font-size: 28px;
           
            color: #6B5EFF;
        }

        h4 {
            
            color: #6B5EFF;
            font-size: 16px;
        }

        p {
            
            color: $grey;
            font-weight: 700;
            font-size: 14px;
        }
    }
}

// ---------- Section Works ----------//
#works {
    width: 100%;
    overflow-y: hidden;
    margin: 0 auto;
    background: url(../img/bg_section_two.png);
    filter: grayscale(10%) contrast(1);
    padding-left: 20px;
    padding-bottom: 52px;



    h4{ 
            font-size: 14px !important;
        }
        p{
            
            font-size: 14px !important;
        }

    .work_head {
        padding: 23px;

        h1 {
            color: #6B5EFF;
            font-size: 28px;
        }

        p {
            
            font-weight: 700;
            font-size: 13px;
        }

    }
}

// ---------- Section Play ----------//
#play {
    width: 100%;
    margin: 0 auto;
    background: url(../img/play.png);
    filter: grayscale(10%) contrast(1);
    text-align: center;

    .contain {
        padding: 70px;

        h1 {
            color: $white;
            font-weight: 700;
            font-size: 23px;
        }

        p {
            color: $white;
           
            padding: 15px;
            font-size: medium;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            color: #6B5EFF;
        }
    }
}

// ---------- Section Stories ----------//
#stories {
    width: 100%;
    margin: 0 auto;
    filter: grayscale(10%) contrast(1);
    background-color: #fbfaff;
    padding: 73px;

    img{
        height: 184px;
        width: 324px;
    }

    .contents {
        margin-left: 25px;
    }

    .content {
        margin-top: 50px;
    }

    .button {
        background-color: #6B5EFF;
        color: $white;
    }

    .fa {
        color: #757474;
        margin: 16px;
    }

    .left {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
    }

    .right {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
    }

    .carousel-control {
        color: #fff;
        border-radius: 30px;
        box-shadow: 5px 5px 5px #b5a9a9;
        position: absolute;
        margin: 150px -80px;
        width: 50px;
        height: 50px;
        opacity: .9;
    }

    .item {
        padding: 20px;

        h1 {
            color: #6B5EFF;
            font-weight: 800;
            font-size: 30px;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
        }

        p {
            font-weight: 200;
            font-size: 15px;
            color: $grey;
        }

        blockquote {
            border-left: 0px;

            small {
                font-weight: 900;
                font-size: 20px;
                color: #6B5EFF;
            }
        }
    }
}

// ---------- Section get_started ----------//
#get_started {
    background-image: url(../img/bg_section_two.png);
    background-repeat: repeat;
    padding: 50px;
    text-align: center;
    

    .room {
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            color: #6B5EFF;
        }

        p {
            margin: 5px 5px 50px 5px;
            font-size: 14px;
            color: $grey;
        }
    }

    .button {
        position: relative;
        color: white;
        background-color: #000;
        text-decoration: none;
        margin: 8px;
        background-color: #000;

        a {
            text-decoration: none;
            
            color: #fff;
            text-decoration: none;
            font-weight: 700;
        }
    }
// ---------- Section logos ----------//
#logo_s {
    background-color: #fbfaff;
}

// ---------- Section Footer ----------//
#footer {
    width: 100%;
    margin: 0 auto;
    background: url(../img/play.png);
    filter: grayscale(10%) contrast(1);
    padding: 16px;
    text-align: center;

    .container {
        img {
            width: 76px;
            height: 40px;
        }

        .logos_1 {
            .fa {
                color: white !important;
                margin-left: 15px;
                font-size: 25px;
            }

            .fa:hover {
                color: #b9c3c7;
            }
        }

        .head_top {
            color: white !important;
            font-weight: 700;
            font-size: 18px;
        }

        li {
            list-style-type: none;
            margin-top: 15px;
        }

        a {
            color: #b9c3c7;
            text-decoration: none;
            font-weight: 700;
        }

        a:hover {
            color: white;
        }
    }
}

}}
@media (min-width: 900px) {
// ---------- Header ----------//

header {
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    margin: 0 auto;
    background: url(../img/main.png);
    background-repeat: no-repeat;
    filter: grayscale(10%) contrast(1);
    background-size: cover;
    color: #fff;

    .header-content-inner {
        margin-bottom: 150px;
    }

    .header-content {
        margin-top: 165px;
        font-family: Brandon;

        h1 {
            letter-spacing: 6px !important;
            line-height: 100%;
            font-family: Brandon;
            font-size: 55px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
            color: $light-green;
        }

        a {
            text-decoration: none;
            color: #6B5EFF;
            font-weight: 700;
            font-family: Brandon;
        }
    }

    nav {
        padding: 10px;

        .menu {
            font-weight: 550;
            float: left;
            margin-left: -40px;
            margin-top: 50px;

            a {
                text-decoration: none;
                margin-left: 2rem;
            }

            a:hover {
                color: #d8ff00;
            }

            img {
                margin-bottom: 7px;
            }
        }

        a {
            font-family: Brandon;
            color: $white;
            text-decoration: none;
            font-size: 20px;
        }
    }
}

// ---------- Section Connect ----------//
#connect {
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    margin: 0 auto;
    word-wrap: break-word;
    position: relative;
    background: #fff;
    filter: grayscale(10%) contrast(1);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
   

    .con_phone {
       

        h1 {
            font-size: 40px;
            font-weight: 800;
            color: #6B5EFF;
        }

        h4 {
            color: #6B5EFF;
        }

        p {
            color: $grey;
            font-weight: 700;
            font-size: 15px;
        }
    }
}

// ---------- Section Works ----------//
#works {
    width: 100%;
    overflow-y: hidden;
    margin: 0 auto;
    background: url(../img/bg_section_two.png);
    filter: grayscale(10%) contrast(1);
        padding-top: 40px;
    padding-bottom: 40px;
    
    .work_head {
      

        h1 {
            color: #6B5EFF;
            font-weight: 800;
            font-size: 35px;
        }

        p {
            font-weight: 700;
            font-size: 18px;
        }
    }

}

// ---------- Section Play ----------//
#play {
    width: 100%;
    margin: 0 auto;
    background: url(../img/play.png);
    filter: grayscale(10%) contrast(1);
    text-align: center;
        padding-top: 30px;
    padding-bottom: 30px;

    .contain {
        padding: 70px;

        h1 {
            color: $white;
            font-weight: 700;
            font-size: 30px;
        }

        p {
            color: $white;
            font-weight: 700;
            padding: 30px;
            font-size: medium;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            color: #6B5EFF;
        }
    }
}

// ---------- Section Stories ----------//
#stories {
    width: 100%;
    margin: 0 auto;
    filter: grayscale(10%) contrast(1);
    background-color: #fbfaff;
        padding-top: 40px;
    padding-bottom: 40px;
    
    .contents {
        // margin-left: 25px;
    }

    .content {
        // margin-top: 50px;
    }

    .button {
        background-color: #6B5EFF;
        color: $white;
    }

    .fa {
        color: #757474;
        margin: 16px;
    }

    .left {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
    }

    .right {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
    }

    .carousel-control {
        color: #fff;
        border-radius: 30px;
        box-shadow: 5px 5px 5px #b5a9a9;
        position: absolute;
        margin: 150px -80px;
        width: 50px;
        height: 50px;
        opacity: .9;
    }

    .item {
        padding: 20px;

        h1 {
            color: #6B5EFF;
            font-weight: 800;
            font-size: 35px;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
        }

        p {
            font-weight: 700;
            font-size: 18px;
            color: $grey;
        }

        blockquote {
            border-left: 0px;

            small {
                font-weight: 900;
                font-size: 25px;
                color: #6B5EFF;
            }
        }
    }
}

// ---------- Section get_started ----------//
#get_started {
    width: 100%;
    margin: 0 auto;
    background: url(../img/living_room.png);
    filter: grayscale(10%) contrast(1);
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;

    .room {
        h1 {
            font-weight: 700;
            font-size: 35px;
            color: #6B5EFF;
        }

        p {
            margin: 50px 50px 50px 0px;
            font-weight: 700;
            font-size: 15px;
            color: $grey;
        }
    }

    .button {
        color: white;
        background-color: #000;
        text-decoration: none;
        margin: 5px;
        background-color: #000;

        a {
            text-decoration: none;
            margin: 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
        }
    }

    button:hover {
        background-color: #6B5EFF;
    }
}

// ---------- Section logos ----------//
#logo_s {
    background-color: #fbfaff;
}

// ---------- Section Footer ----------//
#footer {
    width: 100%;
    margin: 0 auto;
    background: url(../img/play.png);
    filter: grayscale(10%) contrast(1);
        padding-top: 40px;
    padding-bottom: 40px;

    .container {
        img {
            width: 76px;
            height: 40px;
        }

        .logos_1 {
            .fa {
                color: white;
                margin-left: 15px;
                font-size: 25px;
            }

            .fa:hover {
                color: #b9c3c7;
            }
        }

        .head_top {
            color: white;
            font-weight: 700;
            font-size: 18px;
        }

        li {
            list-style-type: none;
            margin-top: 15px;
        }

        a {
            color: #b9c3c7;
            text-decoration: none;
            font-weight: 700;
        }

        a:hover {
            color: white;
        }
    }
}


}

