// varibles
$pink: #fb8887;
$white: #ffffff;
$black: #000;


@mixin bg_img($url, $size, $position) {
	background-image: url($url);
	background-size: $size;
	background-position: $position;
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'Questrial', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.social{
	color: #fb8887;
}
.social:hover{
	color: #000;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Abril Fatface', cursive;
	font-weight: 700;
}
.btn{
	text-decoration: none;
	color: $pink;
	font-weight: 700;
	padding-bottom: 1em;
}
.cf:before, cf:after {
	content: "";
	display: table;
}
.cf:after{
	clear: both;
}
.wrapper{
	width: 1000px;
	max-width: 96%;
	margin: 0 auto;
}
.content{
	margin-top: -125px;
    margin-bottom: -70px;
}
.banner{
	padding: 3em 0;
    padding-bottom: 26em;
	.logo{
		float: left;
	}
	h1{
		color: $black;
		text-align: right;
		font-size: 6em;
		display: inline;
		float: right;
		margin: 0;
	}
	.cont_work{
		background-color: rgba(145, 89, 219, .6);
    	border-radius: 100%;
	}
}
.logo{
	background: $pink;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	color: $white;
	font-size: 1.1em;
	font-family: 'Abril Fatface', cursive;
}
.row{
	width: 100%;
	margin-bottom: 2em;
	&:before, &:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}
// work section
.work{
	background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

	padding: 5em 0;
	.card{
		background: $white;
		border-radius: .35em;
		height: 450px;
		display: table;
		background-repeat: no-repeat;
	}
	.tall{
		height: 400px;
	}
	.card_full{
		width: 100%;
	}
	.card_third{
		width: 60%;
		float: left;
	}
	.card_half{
		width: 48.5%;
		float: left;
		box-shadow: 5px 0px 28px -7px #b69fa2;
	}
	.card_20{
		width: 37%;
		float: right;
	}
	.left{
		margin-right: 1.5%;
	}
	.right{
		margin-left: 1.5%;
	}
	.card_inner{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		padding: 1.5em 7%;
		color: $black;
		p{
			font-size: 1em;
			text-transform: uppercase;
			font-weight: 700;
		}
		h2{
			font-size: 4em;
			margin: 0;
		}
	}
	// colors
	.pink, .green, .purple, .blue{
		border-radius: .35em;
	}
}
// footer
footer{
	padding: 3em 0;
	padding-bottom: 5em;
	.logo{
		float: left;
		margin: 0;
	}
	ul{
		list-style: none;
		margin: 0;
		padding-top: 1em;
		li{
			    display: block;
			    margin: 0 auto;
			    text-align: center;
			.title{
				text-transform: uppercase;
				font-weight: 700;
				font-size: .75em;
				display: block;
				padding-bottom: .5em;
			}
			.links{
				font-family: "Impact";
				font-size: 1.75em;
				a{
					color: $black;
					text-decoration: none;
					&:hover{
						color: $pink;
					}
				}
			}
		}
	}
}
//tablet mode
@media only screen and (max-width: 768px){
	.banner{
		padding: 2em 16px 0px 43px;
    	padding-bottom: 14em;
		h1{
			font-size: 4em;
		}
	}
	.logo{
		background: $black;
	}
	.row{
		margin-bottom: 1em;
		&:before, &:after{
			content: "";
			display: table;
		}
		&:after{
			clear: both;
		}
	}
	// work section
	.work{
		padding: 1em 0;
		.tall{
			height: 281px;
		}
		.left{
			margin-right: 1.5%;
		}
		.right{
			margin-left: 1.5%;
		}
		.card_inner{
			h2{
				font-size: 2em;
			}
		}
		.pinks{
			color: $pink;
		}
	}
}
@media only screen and (max-width: 575px){
	.row {
    margin-bottom: 0;
}
	.banner{
    	padding-bottom: 9em;
		h1{
			font-size: 3em;
		}
	}
	.logo{
		display: none;
	}
	.work{
		padding: 1em 0;
		.tall{
			height: 200px;
		}
		.left{
			margin-right: 0%;
		}
		.right{
			margin-left: 0%;
		}
		.card_half{
			width: 100%;
	    	float: none;
	    	margin-bottom: 5px;
		}
	}
	
}