// color
$red: #ff5252;
$bg: #222222;
$bgmain: #fff;
$textcolor: #272727;

.navbar{
	background-color: #fff !important;
	border-color: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
}
blockquote{
	border-left: 1px solid $red;
	
}
body{
	font-family: "Brandon Grotesque", Arial;
	background-color: #fff;
	color: $textcolor;
}
#subscribe{
	width: 500px;
	.btn{
		width: 50%;
		background-color: $red;
		color: white;
		margin: 50px;
		margin-left: 110px;
	}
}
#contacts{
	width: 500px;
	.btn{
		background-color: $red;
		color: white;
		margin: 50px;
		margin-left: 110px;
		width: 50%;
	}
}
.logo{
	background-color: $red;
	color: white !important;
}
#search{
	text-decoration: none;
	.btn{
		border-radius: 0rem !important;
		background-color: $red;
		color: white;
	}
	.btn:hover{
		background-color: #000;
	}
}
.active{
	background-color: $red !important;
	color: white !important;
}
.active:hover{
	background-color: black !important;
	color: white !important;
}
#labels{
	text-align: center;
	margin: 40px;
	border-bottom: 1px solid $red;
	.btn-group{

		margin: 10px;
		padding: 21px;
		color: white !important;
	}
	a{
		color: $textcolor !important;
		font-size: 20px;
		text-decoration: none;
	}
	a:hover{
		color: white !important;
		background-color: $red;
	}
}
#social{
	text-align: center;
	text-decoration: none;
	margin-right: 60px;
	margin-bottom: 40px;
	margin-top: 40px;
	.button{
		position: relative;
		padding: 15px;
		margin: 5px;
		border-radius: 0rem;
	}
	.facebook{
		background-color: blue;
		color: white;
	}
	.instagram{
		background-color: orange;
		color: white;
	}
	.youtube{
		background-color: $red;
		color: white;
	}

}

