.navbar-default {
  background-color: #fff !important; }
.logo{
	font-size: 20px;
}

.text{
	color: #fff !important;
	text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    text-decoration: none;
    font-family: arial;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #ff5252;
}
.btn-success {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
}
.btn-success:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.thead{
	color: #ff5252;
}
.thead:hover{
	color: #000;
}
.event{
	margin-left: 45%;
}
.sub{

}
a {
    color: #ff5252;
    text-decoration: none;
}